.home-wrapper {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.Play-btn {
  background-color: greenyellow;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 10rem;
}

.custom-btn {
  background-color: burlywood;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 5rem;
}

.options {
  background-color: red;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
